<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.site_information_setting}}</div>
                <div class="actions btn-set">
                </div>
            </div>
            <div class="portlet-body" data-ng-init="getSiteInfoUpdate()">
                <div class='row'>
                    <div class='col-md-6'>
                        <div class='form-group'>
                            <div class='row'>
                                <label class='col-md-4'>{{lang.application_name}}</label>
                                <div class='col-md-8'>
                                    <input class='form-control' ng-model="siteInfo.SiteInfo_AppName" id='appName' name='appName'>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                <label class='col-md-4'>{{lang.application_desc}}</label>
                                <div class='col-md-8'>
                                    <input class='form-control' ng-model="siteInfo.SiteInfo_AppDesc" id='appDesc' name='appDesc'>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                <label class='col-md-4'>{{lang.company_name}}</label>
                                <div class='col-md-8'>
                                    <input class='form-control' ng-model="siteInfo.SiteInfo_CompanyName" id='companyName' name='companyName'>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                <label class='col-md-4'>{{lang.email_system}}</label>
                                <div class='col-md-8'>
                                    <input class='form-control' ng-model="siteInfo.SiteInfo_EmailSystem" id='emailSystem' name='emailSystem'>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                <label class='col-md-4'>{{lang.phone}}</label>
                                <div class='col-md-8'>
                                    <input class='form-control col-md-8' ng-model="siteInfo.SiteInfo_Phone" id='phone' name='phone'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class='form-group'>
                            <div class='row'>
                                <label class='col-md-4'>{{lang.company_logo}}</label>
                                <div class='col-md-8'>
                                    <input class='form-control' ng-model="siteInfo.SiteInfo_Logo" id='logo' name='logo'>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                <label class='col-md-4'>{{lang.company_sologan}}</label>
                                <div class='col-md-8'>
                                    <input class='form-control' ng-model="siteInfo.SiteInfo_Sologan" id='sologan' name='sologan'>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                <label class='col-md-4'>{{lang.metakey}}</label>
                                <div class='col-md-8'>
                                    <textarea ng-model="siteInfo.SiteInfo_MetaKey" rows="3" cols="" class='form-control' id='metaKey' name='metaKey'></textarea>
                                </div>

                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                <label class='col-md-4'>{{lang.meta_description}}</label>
                                <div class='col-md-8'>
                                    <textarea ng-model="siteInfo.SiteInfo_MetaDesc" rows="3" cols="" class='form-control' id='metaDesc' name='metaDesc'>{{SiteInfo_MetaDesc}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-12'>
                        <div class='form-group'>
                            <div class='row'>
                                <label class='col-md-2'></label>
                                <div class='col-md-10'>
                                    <button ng-click="updateSiteInfo()" id='saveChange' class='btn bg-green-meadow'>{{lang.save_changes}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
