
#layerslider * {
    font-family: Lato, 'Open Sans', sans-serif;
    font-weight: 300;
}

#layerslider h1 {
    font-size: 30px;
    color: #eee;
}

#layerslider h2 {
    font-size: 40px;
    color: #111;
}
