<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.create}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">

                <div class="col-md-6">
                    <form class="form-horizontal">
                        <div class='form-group'>
                            <label class="col-md-3">{{lang.name}}</label>

                            <div class="col-md-9">
                                <input type="text" ng-model="newCategories.name" class="form-control" name="name" id="name" value="">
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-3">{{lang.alias}}</label>

                            <div class="col-md-9">
                                <input type="text" ng-model="newCategories.alias" class="form-control" name="alias" id="alias" value="">
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-3">{{lang.parent}}</label>

                            <div class="col-md-9" data-ng-init="loadCategories()">
                                <select class="form-control select2" ng-model="newCategories.parent" name="parent" id="parent" ng-init="newCategories.parent=0">
                                    <option value="0">{{lang.root}}</option>
                                    <option ng-repeat="o in optionParents" value="{{o.id}}">{{o.categories_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-3">{{lang.menu_type}}</label>

                            <div class="col-md-9" data-ng-init="loadMenuType()">
                                <select class="form-control select2" ng-model="newCategories.menuType" data-ng-options="o.static_key as o.static_value for o in optionMenuTypes" name="menuType" id="menuType"></select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-3">{{lang.status}}</label>

                            <div class="col-md-9">
                                <select class="form-control select2" ng-model="newCategories.status" name="status" id="status" ng-init="newCategories.status=1">
                                    <option value="1">{{lang.published}}</option>
                                    <option value="0">{{lang.unpublished}}</option>
                                    <option value="-1">{{lang.draft}}</option>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <button ng-click="save()" class="btn bg-green-meadow">{{lang.save}}</button>
                                <button ng-click="reset()" class="btn btn-default">{{lang.reset}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>