<div class="col-md-12">
    <div class="row">
        <div class="col-md-2">
            <div class="top-news">
                <a href="#/" class="btn btn-success">
                    <span> {{lang.list}} </span>
                    <em>
                        <i class="fa fa-tags"></i>
                        {{lang.view}}
                    </em>
                    <i class="fa fa-list top-news-icon"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <hr/>
    </div>
</div>