<a class="btn btn-sm bg-green-meadow" ng-click="" href="#/create"><i class='fa fa-plus'></i> {{lang.create}}</a>
<a class="btn btn-sm default" href="#/config"><i class='fa fa-cog'></i> {{lang.configuration}}</a>
<button class="btn btn-sm default" ng-click="selectedAll()"><i class='fa fa-check-square-o'></i>{{lang.selected_all}}</button>
<button class="btn btn-sm default" ng-click="deselectedAll()" ng-show="arrCategoriesId.length"><i class='fa fa-square-o'></i>{{lang.deselected_all}}</button>
<button class="btn btn-sm btn-danger" ng-click="deleteMultiCategories()" ng-show="arrCategoriesId.length"><i class='fa fa-trash-o'></i> {{lang.remove}}</button>
