<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.update_categories}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">

                <div class="col-md-6">
                    <form class="form-horizontal" data-ng-init="loadCategoriesWithoutId();loadMenuTypeUpdate();getUpdate();">
                        <div class='form-group'>
                            <label class="col-md-3">{{lang.id}}</label>

                            <div class="col-md-9">
                                <input type="text" ng-model="categories.id" class="form-control" name="id" id="id" value="" readonly>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-3">{{lang.name}}</label>

                            <div class="col-md-9">
                                <input type="text" ng-model="categories.categories_name" class="form-control" name="name" id="name" value="">
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-3">{{lang.alias}}</label>

                            <div class="col-md-9">
                                <input type="text" ng-model="categories.categories_alias" class="form-control" name="alias" id="alias" value="">
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-3">{{lang.parent}}</label>

                            <div class="col-md-9">
                                <select class="form-control select2" ng-model="categories.parent_id" data-ng-options="o.id as o.categories_name for o in optionParents"></select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-3">{{lang.menu_type}}</label>

                            <div class="col-md-9">
                                <select class="form-control select2" ng-model="categories.categories_menu_type" data-ng-options="o.static_key as o.static_value for o in optionMenuTypes"></select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-3">{{lang.status}}</label>

                            <div class="col-md-9">
                                <select class="form-control select2" ng-model="categories.categories_status" name="status" id="status" ng-init="updateCategories.categories_status">
                                    <option value="1">{{lang.published}}</option>
                                    <option value="0">{{lang.unpublished}}</option>
                                    <option value="-1">{{lang.draft}}</option>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <button ng-click="update()" class="btn bg-green-meadow">{{lang.save}}</button>
                                <a href="#/" class="btn btn-default">{{lang.back}}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>