<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.configuration_news_group}}</div>
                <div class="actions btn-set">
                    <div ng-include="toolConfig"></div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="col-md-12 form-horizontal">
                    <div class="row">
                        <div class="form-group" data-ng-init="getNewsGroup()">
                            <label class="col-md-2 control-label">{{lang.choose_group}}</label>
                            <div class="col-md-4">
                                <select2 class="form-control" name="group" data-ng-options="o.id as o.group_name for o in group" ng-model="config.group" id="group"></select2>
                                <input type="hidden" value="{{config.group}}" id="inputGroup">
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" ng-click="viewNewInGroup()" name="view" id="view">{{lang.view_news_in_group}}</button>
                            </div>
                        </div>
                        <div class="form-group" data-ng-init="getAllNews()">
                            <label class="col-md-2 control-label">{{lang.news}}</label>
                            <div class="col-md-4">
                                <select2 class="form-control" name="news" data-ng-options="n.id as n.post_title for n in news" ng-model="config.news" id="news"></select2>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <button class="btn bg-green-meadow" ng-click="add()" name="add" id="add">{{lang.add_news_to_group}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">{{lang.news_in_group}}</label>
                    <div class="col-md-12">
                        <table datatable dt-options="dtOptions" dt-columns="dtColumns"
                               class="table table-bordered dataTable no-footer" id="groupNews"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>