<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.news_in_categories_manager}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-horizontal" data-ng-init="getCategories()">
                    <div class="form-group">
                        <div class="col-md-12">
                            <span ng-repeat="category in categories">
                                <a href="#/category/{{category.id}}" class="btn btn-success margin-right-20 margin-left-20 margin-bottom-10">{{category.categories_name}}</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
