<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.create_slide_manager}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">

                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.name}}</label>

                            <div class="col-md-10">
                                <input type="text" ng-model="newSlide.name" class="form-control" name="name" id="name" value="">
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.status}}</label>

                            <div class="col-md-10">
                                <select class="form-control" ng-model="newSlide.status" name="status" id="status" ng-init="newSlide.status=1">
                                    <option value="1">{{lang.published}}</option>
                                    <option value="0">{{lang.unpublished}}</option>
                                    <option value="-1">{{lang.draft}}</option>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.prefix_slider}}</label>

                            <div class="col-md-10">
                                    <input type="text"  ng-model="newSlide.prefix" class="form-control" name="prefix" id="prefix"  value="">
                            </div>
                        </div>
                        <div class='form-group'>
                        <label class="col-md-2">{{lang.suffix_slider}}</label>

                        <div class="col-md-10">
                                <input type="text"  ng-model="newSlide.suffix" class="form-control"  name="suffix"   id="suffix" value="">
                        </div>
                         </div>
                        <div class='form-group'>
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <button ng-click="save()" class="btn bg-green-meadow">{{lang.save}}</button>
                                <button ng-click="reset()" class="btn btn-default">{{lang.reset}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<script>
    var editor = CodeMirror.fromTextArea(template, {
        mode: "text/html",
        extraKeys: {"Ctrl-Space": "autocomplete"},
        value: document.documentElement.innerHTML,
        lineNumbers: true
    });
</script>
-->
