<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.sile_manager}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">
                <table datatable dt-options="dtOptions" dt-columns="dtColumns" delete-row="deleteRow(item)"
                       class="table table-bordered dataTable no-footer" id="slide"></table>
            </div>
        </div>
    </div>
</div>
