<button class="btn btn-sm btn green" ng-click="activeMainSlide()" ng-show="arrSlideId.length"><i class='fa fa-check'></i> {{lang.active}}</button>
<!--<a class="btn btn-sm bg-green-meadow" href="#/create"><i class='fa fa-plus'></i> Create</a> -->
<button class="btn btn-sm default" ng-click="selectedAll()"><i class='fa fa-check-square-o'></i> {{lang.selected_all}}</button>
<button class="btn btn-sm default" ng-click="deselectedAll()" ng-show="arrSlideId.length"><i class='fa fa-square-o'></i> {{lang.deselected_all}}</button>
<button class="btn btn-sm btn-danger" ng-click="deleteMultiSlide()" ng-show="arrSlideId.length"><i class='fa fa-trash-o'></i> {{lang.remove}}</button>