<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.update_slide_manager}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">

                <div class="col-md-12" >
                    <form class="form-horizontal">
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.name}}</label>

                            <div class="col-md-10">
                                <input type="hidden" ng-model="slide.id" id="id" name="id">
                                <input type="text" ng-model="slide.slide_name" class="form-control" name="name" id="name" value="">
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.status}}</label>

                            <div class="col-md-10">
                                <select class="form-control" ng-model="slide.slide_status" name="status" id="status">
                                    <option value="1">{{lang.published}}</option>
                                    <option value="0">{{lang.unpublished}}</option>
                                    <option value="-1">{{lang.draft}}</option>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <button ng-click="updateSlide()" class="btn bg-green-meadow">{{lang.save}}</button>
                                <button ng-click="reset()" class="btn btn-default">{{lang.reset}}</button>
                            </div>
                        </div>
                        <div data-ng-init="getUpdate()"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<script>
    var editor = CodeMirror.fromTextArea(template, {
        mode: "text/html",
        extraKeys: {"Ctrl-Space": "autocomplete"},
        value: document.documentElement.innerHTML,
        lineNumbers: true
    });
</script>
-->
