<a class="btn btn-sm bg-green-meadow" href="#/group/create"><i class='fa fa-plus'></i>{{lang.create}}</a>
<a class="btn btn-sm default" href="#/group/config"><i class='fa fa-cog'></i> {{lang.configuration}}</a>
<button class="btn btn-sm default" ng-click="selectedAll()"><i class='fa fa-check-square-o'></i> {{lang.selected_all}}</button>
<button class="btn btn-sm default" ng-click="deselectedAll()" ng-show="arrGroupId.length"><i class='fa fa-square-o'></i> {{lang.deselected_all}}</button>
<!--<button class="btn btn-sm btn-danger" ng-click="deleteMultiConfigNewsInGroup()" ng-show="arrGroupId.length"><i class='fa fa-trash-o'></i> {{lang.remove}}</button>-->