<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.update_new_group}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body" data-ng-init="getUpdate()">

                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.name}}</label>

                            <div class="col-md-10">
                                <input type="text" ng-model="group.group_name" class="form-control" name="name" id="name" value="">
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.status}}</label>

                            <div class="col-md-10">
                                <select class="form-control" ng-model="group.status" name="status" id="status">
                                    <option value="1">{{lang.published}}</option>
                                    <option value="0">{{lang.unpublished}}</option>
                                    <option value="-1">{{lang.draft}}</option>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <button ng-click="update()" class="btn bg-green-meadow">{{lang.save}}</button>
                                <a href="#/group" class="btn btn-default">{{lang.back}}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>