
<!-- COMMENT AREA -->
<div class="comments-area" id="comments">
    <h2 class="comments-title">Comments ( 5 )</h2>
    <ol class="comment-list">
        <div  ng-repeat="comment in comments">
            <!-- START A COMMENT -->
            <li class="comment even thread-even depth-1 parent" id="comment-{{comment.content.id}}">
                <!-- PARENT COMMENT-->
                <article class="comment-body">

                    <!-- COMMENT AUTHOR-->
                    <footer class="comment-meta">
                        <div class="comment-author vcard"> <img class="avatar img-circle" src="{{default}}" alt="" style="max-height: 60px; max-width: 60px">
                            <a class="author_url" rel="external nofollow" href="#">{{comment.content.comment_author_email}}</a>
                        </div>
                    </footer>
                    <!-- END COMMENT AUTHOR -->

                    <!--  COMMENT CONTENT -->
                    <div class="comment-content">
                        <p>{{comment.content.comment_content}}</p>
                    </div>
                    <!-- END COMMENT CONTENT -->

                    <!-- COMMENT DATE -->
                    <div class="comment-metadata">
                        <span>10:30 17.05.2014</span>
                    </div>
                    <!-- END COMMENT DATE -->

                    <!-- REPLY BUTTON -->
                    <div class="blog-reply"> <a  ng-click="showComposeComment(comment.content.id)"  class="comment-reply-link">Reply</a>

                    </div>
                    <!-- END REPLY BUTTON -->
                    <div class="blog-raspor"></div>

                </article>
                <!-- END PARENT COMMENT -->

                <!-- CHILD COMMENT -->
                <ol class="children">
                    <div ng-repeat="childComment in comment.child">
                        <li class="comment byuser odd alt depth-2 parent">
                            <article class="comment-body">
                                <!-- COMMENT AUTHOR-->
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img class="avatar img-circle" src="{{default}}" alt="">
                                        <a class="author_url" rel="external nofollow" href="#">{{childComment.comment_author_email}}</a>
                                    </div>
                                    <!-- .comment-author -->
                                </footer>
                                <!-- END COMMENT AUTHOR-->

                                <!--  COMMENT CONTENT -->
                                <div class="comment-content">
                                    <p>{{childComment.comment_content}}</p>
                                </div>
                                <!-- END COMMENT CONTENT -->

                                <!--  COMMENT DATE -->
                                <div class="comment-metadata">
                                    <span>10:30 17.05.2014</span>
                                </div>
                                <!--  COMMENT DATE -->


                                <div class="blog-raspor"></div>
                                <!-- .reply -->
                            </article>
                            <!-- .children -->
                        </li>
                    </div>
                    <!-- #comment-## -->
                </ol>
                <!-- END CHILD COMMENT -->
                <hr/>
            </li>
            <!-- END A COMMENT -->
        </div>


    </ol>
    <!-- .comment-list -->

    <!-- POST COMMENT -->
    <div class="comment-respond" id="bottom-comment-placeholder">
        <h3 class="comment-reply-title" id="reply-title">Leave a Comment</h3>
        <form class="comment-form" id="commentform" ng-submit="submitComment()" >
            <p class="comment-form-author">
                <label for="author">Name <span class="required">*</span></label>
                <input type="text" ng-model="newCommentData.name"   aria-required="true" size="30" value="" name="author" id="author" class="form-control" placeholder="Name">
            </p>
            <p class="comment-form-email">
                <label for="email">Email <span class="required">*</span></label>
                <input type="email" ng-model="newCommentData.email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Enter email">
            </p>
            <p class="comment-form-comment">
                <label for="comment">Comment</label>
                <textarea aria-required="true" ng-model="newCommentData.content" rows="8" cols="45" name="comment" id="comment" class="form-control" placeholder="Comment"></textarea>
            </p>
            <p class="form-submit">
                <input type="submit" value="Leave a comment" id="submit" name="submit" class="btn btn-primary" data-ng-disabled="newCommentData.$invalid">
                <input type="submit" value="Cancel" id="cancel" name="submit" class="btn btn-info" ng-click="onCancel()" >
            </p>
        </form>
    </div>
    <!-- POST COMMENT -->
    <!-- #respond -->

</div>
<!-- END COMMENT AREA -->