
<!-- COMMENT AREA -->
<div class="comments-area" id="comments">

        <div  ng-repeat="comment in comments">
            <!-- START A COMMENT -->
            <div class="review-item clearfix" id="comment-{{comment.content.id}}">
                <div class="review-item-submitted">
                    <strong>{{comment.content.comment_author_url}}</strong>
                    <em>{{comment.content.created_at}}</em>
                    <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                </div>
                <div class="review-item-content">
                    <p>{{comment.content.comment_content}}</p>
                </div>
            </div>
            <!-- END A COMMENT -->
        </div>



    <!-- .comment-list -->

    <!-- POST COMMENT -->
    <div class="comment-respond" id="bottom-comment-placeholder">
        <h2>Write a review</h2>
        <form class="reviews-form" role="form" id="commentform" ng-submit="submitComment()" >
            <div class="comment-form-author form-group">
                <label for="author">Name <span class="required">*</span></label>
                <input type="text" ng-model="newCommentData.name"   aria-required="true" size="30" value="" name="author" id="author" class="form-control" placeholder="Name">
            </div>
            <div class="comment-form-email form-group">
                <label for="email">Email <span class="required">*</span></label>
                <input type="email" ng-model="newCommentData.email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="comment-form-comment form-group">
                <label for="comment">Review</label>
                <textarea aria-required="true" ng-model="newCommentData.content" rows="8" cols="45" name="comment" id="comment" class="form-control" placeholder="Comment"></textarea>
            </div>
            <div class="form-submit padding-top-20">
                <button type="submit" id="submit" class="btn btn-primary">Send</button>

            </div>
        </form>
    </div>
    <!-- POST COMMENT -->
    <!-- #respond -->

</div>
<!-- END COMMENT AREA -->
