
<!-- COMMENT AREA -->
<h2>Comments ({{count}})</h2>
<div class="comments">
    <div  ng-repeat="comment in comments">
        <div class="media" id="comment-{{comment.content.id}}">
            <a href="#" class="pull-left">
                <img src="{{default}}" alt="" class="media-object" style="max-height: 60px; max-width: 60px">
            </a>
        <div class="media-body">
            <h5 class="media-heading" style="font-size: 17px">{{comment.content.comment_author_url}} <span> / <a ng-click="showComposeComment(comment.content.id)">Reply</a></span></h5>
            <p>{{comment.content.comment_content}}</p>
                <!-- CHILD COMMENT -->
                <div ng-repeat="childComment in comment.child">
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="{{default}}" alt="" class="media-object" style="max-height: 60px; max-width: 60px">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading" style="font-size: 17px">{{childComment.comment_author_url}} <span> </span></h4>
                            <p>{{childComment.comment_content}}</p>
                        </div>
                    </div>
                </div>
        </div>
            </div>
    </div>
</div>
                <!-- END CHILD COMMENT -->
                <hr/>
            </li>
            <!-- END A COMMENT -->
        </div>


    </ol>
    <!-- .comment-list -->

    <!-- POST COMMENT -->
    <div class="comment-respond" id="bottom-comment-placeholder">
        <h3 class="comment-reply-title" id="reply-title">Leave a Comment</h3>
        <form class="comment-form" id="commentform" ng-submit="submitComment()" >
            <p class="comment-form-author">
                <label for="author">Name <span class="required">*</span></label>
                <input type="text" ng-model="newCommentData.name"   aria-required="true" size="30" value="" name="author" id="author" class="form-control" placeholder="Name">
            </p>
            <p class="comment-form-email">
                <label for="email">Email <span class="required">*</span></label>
                <input type="email" ng-model="newCommentData.email" aria-required="true" size="30" value="" name="email" id="author-email" class="form-control" placeholder="Enter email">
            </p>
            <p class="comment-form-comment">
                <label for="comment">Comment</label>
                <textarea aria-required="true" ng-model="newCommentData.content" rows="8" cols="45" name="comment" id="comment" class="form-control" placeholder="Comment"></textarea>
            </p>
            <p class="form-submit">
                <input type="submit" value="Leave a comment" id="submit" name="submit" class="btn btn-primary" data-ng-disabled="newCommentData.$invalid">
                <input type="submit" value="Cancel" id="cancel" name="submit" class="btn btn-info" ng-click="onCancel()" >
            </p>
        </form>
    </div>
    <!-- POST COMMENT -->
    <!-- #respond -->

</div>
<!-- END COMMENT AREA -->