<!-- COMMENTS -->
<section class="comments">
<h2><span>{{comments.length}} comments</span></h2>
<ul class="commentlist" ng-repeat="comment in comments">
    <li class="comment even" id="comment-{{comment.content.id}}">
        <div class="comment-author vcard">
            <img alt="" src="http://0.gravatar.com/avatar/6af718998f19c0d87f26b5fee88e3cb5?s=32&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G" class="avatar avatar-32 photo" height="32" width="32">
            <cite class="fn">{{comment.content.comment_author_url}}</cite>
            <p class="comment-meta commentmetadata"><a href="http://blogs.michal-pawelczyk.net/comment-test#comment-26">{{comment.content.created_at}}</a> <span class="sep">|</span> <a class="comment-reply-link" ng-click="showComposeComment(comment.content.id)">Reply</a></p>
        </div>
        <div class="comment-body">
            <p>{{comment.content.comment_content}}</p>
        </div>
        <ul class="children" ng-repeat="childComment in comment.child">
            <li class="comment odd">
                <div class="comment-author vcard">
                    <img alt="" src="http://0.gravatar.com/avatar/6af718998f19c0d87f26b5fee88e3cb5?s=32&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G" class="avatar avatar-32 photo" height="32" width="32">
                    <cite class="fn">{{childComment.comment_author_url}}</cite>
                    <p class="comment-meta commentmetadata"><a href="http://blogs.michal-pawelczyk.net/comment-test#comment-26">{{childComment.created_at}}</a> <span class="sep">|</span></p>
                </div>
                <div class="comment-body">
                    <p>{{childComment.comment_content}}</p>
                </div>
            </li>
        </ul>

            </li>
</ul>
    </section>
<!-- END COMMENTS -->

<!-- POST COMMENT -->
<section id="bottom-comment-placeholder" class="comment-form post-comment">
    <h2><span>Leave a Comment</span></h2>
    <form role="form" id="commentform" ng-submit="submitComment()">
        <fieldset>
            <legend>Reply to the post</legend>
            <label for="author">Name</label><input id="author" name="author" ng-model="newCommentData.name" type="text"><br>
            <label for="email">Email</label><input id="email" name="author" ng-model="newCommentData.email" type="email"><br>
            <label for="comment">Message</label>
            <textarea name="comment" id="comment" rows="8" cols="50" ng-model="newCommentData.content"></textarea>
            <p><button type="submit" name="send">Post comment</button></p>
        </fieldset>
    </form>
</section>
<!-- END POST COMMENT -->