<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.create_slide_detail}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">

                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.text}}</label>

                            <div class="col-md-10">
                                <textarea ui-tinymce="tinymceOptions" type="text" ng-model="newSlideDetail.text" class="form-control" rows="5" name="text" id="text"></textarea>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.image}}</label>

                            <div class="col-md-9">
                                <input type="text" ng-model="newSlideDetail.image" class="form-control" rows="3" name="image" id="image" value=""></textarea>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-default" data-toggle="modal" data-target=".modal_media"><i class="fa fa-image"></i> </button>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.video}}</label>

                            <div class="col-md-9">
                                <input type="text" ng-model="newSlideDetail.video" class="form-control" rows="3" name="video" id="video" value=""></textarea>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-default" data-toggle="modal" data-target=".modal_media"><i class="fa fa-video-camera"></i> </button>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.class_css}}</label>

                            <div class="col-md-10">
                                <textarea type="text" ng-model="newSlideDetail.class" class="form-control" rows="3" name="class" id="class" value=""></textarea>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="col-md-2">{{lang.status}}</label>

                            <div class="col-md-10">
                                <select class="form-control" ng-model="newSlideDetail.status" name="status" id="status" ng-init="newSlideDetail.status=1">
                                    <option value="1">{{lang.published}}</option>
                                    <option value="0">{{lang.unpublished}}</option>
                                    <option value="-1">{{lang.draft}}</option>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <button ng-click="save()" class="btn bg-green-meadow">{{lang.save}}</button>
                                <button ng-click="reset()" class="btn btn-default">{{lang.reset}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal_media" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{lang.choose_media}}</h4>
            </div>
            <div class="modal-body">
                <iframe style="border: 0;" src="../../backend/cms/media/management" width="100%" height="400px"></iframe>
            </div>
        </div>
    </div>
</div>