<div data-ng-init="getSlideId()"></div>
<!--<a class="btn btn-sm bg-green-meadow" href="#/detail/{{slideId}}/create"><i class='fa fa-plus'></i> Create</a>-->
<button class="btn btn-sm default" ng-click="selectedAll()"><i class='fa fa-check-square-o'></i> {{lang.selected_all}}</button>
<button class="btn btn-sm default" ng-click="deselectedAll()" ng-show="arrSlideDetailId.length"><i class='fa fa-square-o'></i> {{lang.deselected_all}}</button>
<button class="btn btn-sm btn-danger" ng-click="deleteMultiSlideDetail()" ng-show="arrSlideDetailId.length"><i class='fa fa-trash-o'></i>{{lang.remove}}</button>