<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.update_slide_detail}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="col-md-12" data-ng-init="getUpdateDetailProperties()">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-target="#tab_6_1" data-toggle="tab">{{lang.text}}</a>
                        </li>
                        <li>
                            <a data-target="#tab_6_2" data-toggle="tab">{{lang.image}}</a>
                        </li>
                        <li>
                            <a data-target="#tab_6_3" data-toggle="tab">{{lang.video}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_6_1">
                            <div class="form-horizontal">
                                <div ng-repeat="property in properties">
                                    <div ng-if="property.type_column == 'text'">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <span>{{lang.text_property}}</span>
                                            </div>
                                            <div class="col-md-10">
                                                <input class="form-control" value="{{property.value_column}}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-10">
                                                <input placeholder="" class="form-control" ng-model="valueProperty[property.id_key]" data-ng-init="valueProperty[property.id_key] = property.value_column" value="" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_6_2">
                            <div class="form-horizontal">
                                <div ng-repeat="property in properties">
                                    <div ng-if="property.type_column == 'image'">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <span>{{lang.image_property}}</span>
                                            </div>
                                            <div class="col-md-10">
                                                <input class="form-control" value="{{property.value_column}}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-10">
                                                <div class="col-md-10">
                                                    <div class="row">
                                                        <input id="image{{property.id_key}}" ng-blur="applyImage()" placeholder="" class="form-control" ng-model="valueProperty[property.id_key]" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" data-ng-init="valueProperty[property.id_key] = property.value_column" value="" >
                                                    </div>
                                                </div>
                                                <button id="{{property.id_key}}" ng-click="chooseImage($event)" class="btn btn-primary col-md-2">{{lang.choose_image}}</button>
                                                <input id="idText" type="hidden">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_6_3">
                            <div class="form-horizontal">
                                <div ng-repeat="property in properties">
                                    <div ng-if="property.type_column == 'video'">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <span>{{lang.video_property}}</span>
                                            </div>
                                            <div class="col-md-10">
                                                <input class="form-control" value="{{property.value_column}}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-10">
                                                <input placeholder="" class="form-control" ng-model="valueProperty[property.id_key]" data-ng-init="valueProperty[property.id_key] = property.value_column" value="" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit" name="save" id="save" ng-click="updateDetailProperties()">{{lang.save}}</button>
                </div>
            </div>
        </div>
    </div>
</div>