<!-- BEGIN CONTENT -->

        <style>
            .padding {
                padding-top: 35px;
            }
        </style>
<div class="col-md-9 col-sm-9">
    <h1>Create an account</h1>
    <div class="content-form-page">
   <!--     @if($errors->any())
        <div class="alert alert-danger" role="alert">
            {{$errors->first()}}
        </div>
        @endif
        @if(isset($message))
        <div class="alert alert-success" role="alert">
            {{ $message }}
        </div>
        @endif-->
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <div id="message">

                </div>
                <form ng-submit="submit()">
                <fieldset>
                    <legend>Your personal details</legend>
                    <div class="form-group padding">
                        <label for="firstname" class="col-lg-4 control-label">First Name <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <input class="form-control data-toggle" id="first-name" ng-model="user.first_name"placeholder="Your First Name">
                         </div>
                    </div>
                    <div class="form-group padding">
                        <label for="lastname" class="col-lg-4 control-label">Last Name <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <input class="form-control data-toggle" id="last-name" ng-model="user.last_name" placeholder="Your Last Name">
                          </div>
                    </div>
                    <div class="form-group padding">
                        <label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <input type="email" class="form-control data-toggle" id="email" ng-model="user.email" placeholder="example@example.com">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Your password</legend>
                    <div class="form-group padding">
                        <label for="password" class="col-lg-4 control-label">Username <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control data-toggle" id="username" ng-model="user.username" placeholder="Your Username">
                         </div>
                    </div>
                    <div class="form-group padding">
                        <label for="password" class="col-lg-4 control-label">Password <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control data-toggle" id="password" ng-model="user.password" placeholder="*********">
                        </div>
                    </div>
                    <div class="form-group padding">
                        <label for="confirm-password" class="col-lg-4 control-label">Confirm password <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control data-toggle" id="confirm-password" ng-model="user.confirmPassword" placeholder="*********">
                        </div>
                    </div>
                    <div class="form-group padding">
                        <label  class="col-lg-4 control-label">Captcha <span class="require">*</span></label>
                        <div class="col-lg-8"
                                vc-recaptcha
                                theme="'light'"
                                key="model.key"
                                on-create="setWidgetId(widgetId)"
                                on-success="setResponse(response)"
                        ></div>
                    </div>

                </fieldset>

                <div class="row">
                    <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                        <input type="submit" class="btn btn-default"  value="Submit">
                        <button type="button" class="btn btn-default" >Cancel</button>
                    </div>
                </div>
       </form>
            </div>
            <div class="col-md-4 col-sm-4 pull-right">
                <div class="form-info">
                    <h2><em>Important</em> Information</h2>
                    <p>Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip  commodo quat.</p>

                    <p>Duis autem vel eum iriure at dolor vulputate velit esse vel molestie at dolore.</p>

                    <button type="button" class="btn btn-default">More details</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->