<div class="page-content" ng-init="getProfile()">

<div class="row">
<div class="col-md-12">
<table id="user" class="table table-bordered table-striped">
<tbody>

<!--new profile -->
<form role="form" action="#">
    <div class="form-group">
        <label class="control-label">First Name</label>
        <input id="first_name" ng-model="user.first_name" type="text" placeholder="John" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">Last Name</label>
        <input id="last_name" ng-model="user.last_name" type="text" placeholder="Doe" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input id="email" ng-model="user.email" type="email" placeholder="abc@abc.com" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">Gender</label>
        <select ng-model="user.gender" class="bs-select form-control" id="gender">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Mobile Number</label>
        <input id="phone" ng-model="user.phone" type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">Address</label>
        <input id="address" ng-model="user.address" type="text" placeholder="Design, Web etc." class="form-control"/>
    </div>
    <div class="margiv-top-10">
        <a  class="btn green" ng-click="saveProfile()">
            Save Changes </a>
        <a  class="btn default">
            Cancel </a>
    </div>
</form>
<!-- END new profile -->

</tbody>
</table>
</div>
</div>

</div>
