<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.email_template}}</div>
                <div class="actions btn-set">
                </div>
            </div>
            <div class="portlet-body" data-ng-init="getEmailTemplateUpdate()">
                <div class='row'>
                    <div class='col-md-12'>
                        <div class='form-group'>
                            <label class='col-md-2'>{{lang.forgot_password}}</label>
                            <textarea ui-codemirror ui-codemirror-opts="editorOptions" ng-model="emailTemplate.EmailTemplate_ForgotPassword" rows="20" class="form-control"></textarea>
                        </div>
                        <input ng-click="updateEmailTemplate()" type='button' id='saveChangeForgotPassword' class='btn bg-green-meadow' value='{{lang.save_changes}}'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
