<!-- BEGIN PAGE CONTENT-->


<div class="row profile">
<div class="col-md-12">
<!--BEGIN TABS-->
<div class="tabbable tabbable-custom tabbable-full-width">
<ul class="nav nav-tabs">

    <li class="active">
        <a href="#tab_1_3" data-toggle="tab">
            {{lang.user_account}} </a>
    </li>
</ul>
<div class="tab-content">

<div class="tab-pane active" id="tab_1_3">
    <div class="row profile-account">
        <div class="col-md-3">
            <ul class="ver-inline-menu tabbable margin-bottom-10">
                <li class="active" id="personal-info">
                    <a data-toggle="tab" href="#tab_1-1">
                        <i class="fa fa-cog"></i> {{lang.personal_info}} </a>
												<span class="after">
												</span>
                </li>
                <li id="change-avatar">
                    <a data-toggle="tab" href="#tab_2-2">
                        <i class="fa fa-picture-o"></i> {{lang.change_avatar}} </a>
                </li>
                <li id="change-password">
                    <a data-toggle="tab" href="#tab_3-3">
                        <i class="fa fa-lock"></i> {{lang.change_password}} </a>
                </li>
              <!--  <li>
                    <a data-toggle="tab" href="#tab_4-4">
                        <i class="fa fa-eye"></i> Privacity Settings </a>
                </li> -->
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <!-- START PROFILE INFO -->
                <div id="tab_1-1" class="tab-pane active">
                    <form role="form" action="#">
                        <div class="form-group">
                            <label class="control-label">{{lang.first_name}}</label>
                            <input id="first_name" ng-model="user.first_name" type="text" placeholder="John" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{lang.last_name}}</label>
                            <input id="last_name" ng-model="user.last_name" type="text" placeholder="Doe" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{lang.email}}</label>
                            <input id="email" ng-model="user.email" type="email" placeholder="abc@abc.com" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{lang.gender}}</label>
                                <select ng-model="user.gender" class="bs-select form-control" id="gender">
                                    <option>{{lang.male}}</option>
                                    <option>{{lang.female}}</option>
                                    <option>{{lang.other}}</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{lang.mobile_number}}</label>
                            <input id="phone" ng-model="user.phone" type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{lang.address}}</label>
                            <input id="address" ng-model="user.address" type="text" placeholder="Design, Web etc." class="form-control"/>
                        </div>
                        <div class="margiv-top-10">
                            <a  class="btn green" ng-click="saveProfile()">
                                {{lang.save_changes}} </a>
                            <a  class="btn default">
                                {{lang.cancel}} </a>
                        </div>
                    </form>
                </div>
                <!-- END PROFILE INFO -->

                <!-- START AVATAR--->
                <div id="tab_2-2" class="tab-pane">
                    <p>
                        {{lang.please_choose_your_image_for_update_avatar}}
                    </p>
                    <form action="#" role="form">
                        <div class="form-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img id="cur-avatar-holder" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
                                </div>
                                <div  id="avatar-holder" class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                </div>
                                <div>
																<span class="btn default btn-file">
																<span class="fileinput-new">
																{{lang.select_image}} </span>
																<span class="fileinput-exists">
																{{lang.change}} </span>
																<input type="file" name="...">
																</span>
                                    <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">
                                        Remove </a>
                                </div>
                            </div>
                  <!--          <div class="clearfix margin-top-10">
															<span class="label label-danger">
															{{lang.note}}! </span>
															<span>
															</span>
                            </div>-->
                        </div>
                        <div class="margin-top-10">
                            <a  class="btn green" ng-click="submitAvatar()">
                                {{lang.submit}} </a>
                            <a href="#" class="btn default">
                                {{lang.cancel}} </a>
                        </div>
                    </form>
                </div>
                <!-- END AVATAR-->

                <div id="tab_3-3" class="tab-pane">
                    <form action="#">
                        <div class="form-group">
                            <label class="control-label">{{lang.current_password}}</label>
                            <input ng-model="user.password" type="password" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{lang.new_password}}</label>
                            <input ng-model="user.newPassword" type="password" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{lang.re_type_new_password}}</label>
                            <input ng-model="user.retypePassword" type="password" class="form-control"/>
                        </div>
                        <div class="margin-top-10">
                            <a ng-click="changePassword()" class="btn green">
                                {{lang.change_password}} </a>
                            <a href="#" class="btn default">
                                {{lang.cancel}} </a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!--end col-md-9-->
    </div>
</div>
<!--end tab-pane-->

</div>
</div>
<!--END TABS-->
</div>
</div>
<!-- END PAGE CONTENT-->