<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.configuration_news}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">

                <div class="col-md-6">
                    <form class="form-horizontal" data-ng-init="">
                        <div class='form-group'>
                            <div class="col-md-12">
                                <div class="col-md-4">{{lang.number_sort}}</div>
                                <div class="col-md-8">
                                    <input class="form-control" name="numberSort">
                                    <span class="help-block">{{lang.input_number_location_insert}}</span>
                                </div>

                            </div>
                        </div>
                        <div class='form-group'>
                            <div class="col-md-12">
                                <div class="col-md-4">{{lang.insert_number}}</div>
                                <div class="col-md-8">
                                    <input class="form-control" name="insertNumber">
                                    <span class="help-block">{{lang.input_number_sorter}}</span>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class="col-md-12">
                                <div class="col-md-4">{{lang.insert}}</div>
                                <div class="col-md-8">
                                    <input bs-switch type="checkbox" ng-model="isSelected"  switch-on-text="After" switch-on-color="success" switch-off-text="Before" switch-off-color="info">
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <button ng-click="saveConfig()" class="btn bg-green-meadow">{{lang.save}}</button>
                            <a href="#/" class="btn btn-default">{{lang.back}}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>