<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.create_news}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{lang.title}} (*)</label>
                            <input type="text" class="form-control" ng-model="newNews.title" name="title" id="title" value="" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{lang.url}}</label>
                            <input type="text" class="form-control" ng-model="newNews.url" name="url" id="url" value="" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" data-ng-init="getCategories()">
                            <label>{{lang.categories}}</label>
                            <select class="form-control" name="categories" data-ng-options="o.id as o.categories_name for o in categories" ng-model="newNews.categories" id="categories"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{lang.active}}</label>
                            <select class="form-control" name="status" ng-model="newNews.status" ng-init="newNews.status='1'" id="status">
                                <option value="1">{{lang.publish}}</option>
                                <option value="0">{{lang.unpublish}}</option>
                                <option value="-1">{{lang.draft}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{lang.comment_status}}</label>
                            <select class="form-control" ng-model="newNews.commentStatus" ng-init="newNews.commentStatus='1'" name="commentStatus" id="commentStatus">
                                <option value="1">{{lang.yes}}</option>
                                <option value="0">{{lang.no}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{lang.news_short}}</label>
                            <textarea class="form-control" rows="3" ng-model="newNews.postShort" id="post_short" name="post_short"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{lang.news_content}}</label>
                            <textarea ui-tinymce="tinymceOptions" ng-model="newNews.post" id="post" name="post"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-click="save()" name="save" value="save"><i class="fa fa-save"></i> {{lang.save}}</button>
                            <button type="submit" class="btn btn-default" ng-click="reset()" name="reset" value="reset"><i class="fa fa-reset"></i> {{lang.reset}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
