<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.news_manager}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">
                <!--<div class="form-horizontal">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6" data-ng-init="getCategories()">
                                <div class="col-md-4">
                                    <label>Choose Categories</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" name="categories" ng-model="init.category" id="categories">
                                        <option ng-selected="'all' == init.category">All categories</option>
                                        <option ng-selected="{{category.id == init.category}}"
                                                ng-repeat="category in categories"
                                                value="{{category.id}}">
                                            {{category.categories_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <table datatable dt-options="dtOptions" dt-columns="dtColumns" delete-row="deleteRow(item)"
                       class="table table-bordered dataTable no-footer" id="news"></table>
            </div>
        </div>
    </div>
</div>

