<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.update_news}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{lang.title}}</label>
                            <input type="hidden" ng-model="news.id" name="id" id="id" value="">
                            <input type="text" class="form-control" ng-model="news.post_title" name="title" id="title" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{lang.url}}</label>
                            <input type="text" class="form-control" ng-model="news.post_link" name="url" id="url" value="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" data-ng-init="getCategories()">
                            <label>{{lang.categories}}</label>
                            <select class="form-control" name="categories" data-ng-options="o.id as o.categories_name for o in categories" ng-model="news.categories_id" id="categories"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{lang.sort}}</label>
                            <input type="text" class="form-control" ng-model="news.post_sort" name="sort" id="sort" value="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{lang.active}}</label>
                            <select class="form-control" name="status" ng-model="news.post_status" ng-init="news.post_status" id="status">
                                <option value="1">{{lang.publish}}</option>
                                <option value="0">{{lang.unpublish}}</option>
                                <option value="-1">{{lang.draft}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{lang.comment_status}}</label>
                            <select class="form-control" ng-model="news.comment_status" ng-init="news.comment_status" name="commentStatus" id="commentStatus">
                                <option value="1">{{lang.yes}}</option>
                                <option value="0">{{lang.no}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{lang.news_short}}</label>
                            <textarea class="form-control" rows="3" ng-model="news.post_content_short" id="post_short" name="post_short"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label>{{lang.news_content}}</label>
                        <div class="form-group thumbnail">
                            <textarea ui-tinymce="tinymceOptions" ng-model="news.post_content" id="post" name="post"></textarea>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-click="saveUpdate()" name="save" value="save"><i class="fa fa-save"></i>{{lang.save}}</button>
                            <button type="submit" class="btn btn-default" ng-click="reset()" name="reset" value="reset"><i class="fa fa-reset"></i> {{lang.reset}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-init="getNewsUpdate()"></div>
