<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.configuration_categories}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">

                <div class="col-md-6">
                    <form class="form-horizontal" data-ng-init="getDisplayCategoriesConfig()">
                        <div class='form-group'>
                            <div class="dd" id="displayCategories">
                                <!--Insert display categories config-->
                            </div>
                        </div>
                        <div class='form-group'>
                            <button ng-click="saveConfig()" class="btn bg-green-meadow">{{lang.save}}</button>
                            <a href="#/" class="btn btn-default">{{lang.back}}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>