.img-list {
    width: 80px !important;
    height: 60px !important;
    padding: 2px;
    margin: 2px;
    border: 1px solid #CCCCCC;
}

.img-list:hover {
    cursor: pointer;
}

.container-media {
    margin: 10px;
}

.col-left {
    width: 50%;
    float: left;
}

.col-right {
    width: 49%;
    float: right;
}