<div class="portlet container-fluid">
    <div class="portlet-title">
        <div class="caption">{{lang.create_user}}</div>
        <div class="actions btn-set">
            <div ng-include="tools"></div>
        </div>
    </div>
    <div class="portlet-body">
        <!-- BEGIN FORM-->
        <form name="formAddUser"  class="form-horizontal" ng-init="newUser;newUser.status=1;newUser.role=1;" ng-submit="addUser()">
            <div class="form-body">
                <!--username-->

                <div class="form-group"  ng-class="((formAddUser.username.$dirty) && (formAddUser.username.$invalid))?'has-error':''">
                    <label class="col-md-3 control-label">{{lang.username}}<span class="required">* </span></label>
                    <!-- validate for username-->
                    <div class="col-md-4">
                        <input type="text" name="username" ng-model="newUser.username" class="form-control"
                               placeholder="Your username" required ng-minlength=5 ng-maxlength=20>
                        <div class="error"  ng-show="formAddUser.username.$dirty && formAddUser.username.$invalid">
                          <span class="help-block"  ng-show="formAddUser.username.$error.unique">
                              {{lang.Your_username_is_already_in_database}}
                          </span>
                        <span class="help-block"  ng-show="formAddUser.username.$error.required">
                            {{lang.your_username_is_required}}.
                        </span>
                        <span class="help-block" ng-show="formAddUser.username.$error.minlength">
                            {{lang.your_username_is_required_to_be_at_least_5_characters}}
                        </span>
                        <span class="help-block"  ng-show="formAddUser.username.$error.maxlength">
                            {{lang.your_username_cannot_be_longer_than_20_characters}}
                        </span>
                        </div>
                    </div>
                    <!-- end validate for username-->
                </div>
                <!--email-->
                <div class="form-group" ng-class="((formAddUser.email.$dirty) && (formAddUser.email.$invalid))?'has-error':''">
                    <label class="col-md-3 control-label">{{lang.email_address}}<span class="required">* </span></label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" ng-model="newUser.email" name="email" class="form-control"
                                   placeholder="Your Email Address" required>

                        </div>
                        <!-- validate email-->
                        <div   ng-show="formAddUser.email.$dirty && formAddUser.email.$invalid">
                            <span class="help-block"  ng-show="formAddUser.email.$error.unique">
                              {{lang.your_email_is_already_in_database}}
                          </span>
                            <span class="help-block"  ng-show="formAddUser.email.$error.required">
                                {{lang.your_email_is_required}}.
                            </span>
                            <span class="help-block" ng-show="formAddUser.email.$error.email">
                                {{lang.your_email_is_in_incorrect_format}}
                            </span>
                        </div>
                        <!--end validate email-->
                    </div>
                </div>
                <!--password-->
                <div class="form-group">
                    <label class="col-md-3 control-label">{{lang.password}}<span class="required">* </span></label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="password" name="password" ng-model="newUser.password" class="form-control" placeholder="Password" required ng-minlength=5 ng-maxlength=100>
                            <!--validate password-->
                            <div class="error"  ng-show="formAddUser.password.$dirty && formAddUser.password.$invalid" >
                                <small class="has-error"  ng-show="formAddUser.password.$error.required">
                                    {{lang.your_password_is_required}}.
                                </small>
                                <small class="has-error" ng-show="formAddUser.password.$error.minlength">
                                    {{lang.your_password_is_required_to_be_at_least_5_characters}}
                                </small>
                                <small class="has-error"  ng-show="formAddUser.password.$error.maxlength">
                                    {{lang.your_password_cannot_be_longer_than_100_characters}}
                                </small>
                            </div>
                            <!--end validate password-->
                        </div>
                    </div>
                </div>
                <!--password confirm-->
                <div class="form-group">
                    <label class="col-md-3 control-label">{{lang.confirm_password}}<span class="required">* </span></label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="password" name="confirmPassword" ng-model="newUser.confirmPassword" class="form-control" placeholder="Password" required >
                            <div class="error"  ng-show="formAddUser.confirmPassword.$dirty && formAddUser.confirmPassword.$invalid" >
                                <small class="error"  ng-show="formAddUser.confirmPassword.$error.required">
                                    {{lang.your_password_is_required}}.
                                </small>
                                <small class="error" ng-show="formAddUser.confirmPassword.$error.minlength">
                                    {{lang.your_password_is_required_to_be_at_least_5_characters}}
                                </small>
                                <small class="error"  ng-show="formAddUser.confirmPassword.$error.maxlength">
                                    {{lang.your_password_cannot_be_longer_than_100_characters}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <!--role-->
                <div class="form-group">
                    <label class="col-md-3 control-label">{{lang.role}}<span class="required">* </span></label>
                    <div class="col-md-4">
                        <div class="input-icon">
                            <i class="fa fa-bell-o"></i>
                            <select class="form-control input-medium select2me" ng-model="newUser.role"  ng-options="role.id as role.name for role in optRoles"  required/>
                        </div>
                    </div>
                </div>
                <!--status-->
                <div class="form-group">
                    <label class="col-md-3 control-label">{{lang.status}}<span class="required">* </span></label>
                    <div class="col-md-4">
                        <div class="input-icon">
                            <i class="fa fa-bell-o"></i>
                            <select class="form-control input-medium select2me" ng-model="newUser.status"  ng-options="status.value as status.label for status in optStatus" required/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" class="btn blue"  data-ng-disabled="formAddUser.$invalid" data-dismiss="modal" value="{{lang.submit}}">
                    <input type="button" class="btn default" data-dismiss="modal" value="{{lang.cancel}}">
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>