<div class="portlet container-fluid">
    <div class="portlet-title">
        <div class="caption">{{lang.user_management}}</div>
        <div class="actions btn-set">
            <div ng-include="tools"></div>
        </div>
    </div>
    <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" role="form"  ng-init="getUserInfo();"  >
                    <div class="form-body modal-body ">
                        <h2 class="margin-bottom-20">{{lang.user_information}}:</h2>
                        <!--<img src="{{updatedUser['avatar']}" class="img-responsive"/>-->
                        <!--username + email-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{lang.username}}:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static" >
                                            {{updatedUser.username}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{lang.email}}:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            {{updatedUser.email}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--gender + status-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{lang.gender}}:</label>

                                    <div class="col-md-3">
                                        <select ng-model="updatedUser.gender" class="bs-select form-control" id="gender">
                                            <option>{{lang.male}}</option>
                                            <option>{{lang.female}}</option>
                                            <option>{{lang.other}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-3">{{lang.status}}:</label>
                                    <div class="col-md-9">
                                        <select ng-model="updatedUser.status"  ng-options="status.value as status.label for status in optStatus"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--password + role-->
                        <div class="row">
                          <!--  <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Password:</label>
                                    <div class="col-md-9">
                                        <a   class="btn yellow" data-ng-click="resetPassword()"><i class="fa fa-refresh"></i>Reset</a>

                                    </div>
                                </div>
                            </div> -->
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{lang.role}}:</label>
                                    <div class="col-md-9">
                                      <select ng-model="updatedUser.role"  ng-options="role.id as role.name for role in optRoles"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--personal section-->
                        <h3 class="form-section">{{lang.personal}}</h3>
                        <!--first name + last name-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{lang.first_name}}:</label>
                                    <div class="col-md-6">
                                        <input id="first_name" ng-model="updatedUser.first_name" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{lang.last_name}}:</label>
                                    <div class="col-md-6">
                                        <input id="last_name" ng-model="updatedUser.last_name" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!-- address-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{{lang.address}}:</label>
                                    <div class="col-md-6">
                                        <input id="address" ng-model="updatedUser.address" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">{{lang.phone}}:</label>
                                <div class="col-md-6">
                                    <input id="phone" ng-model="updatedUser.phone" type="text" class="form-control"/>
                                </div>
                        </div>
                                </div>
                    </div>
                        </div>
                    <div class="form-actions fluid modal-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" data-dismiss="modal" ng-click="updateUser()"><i class="fa fa-pencil"></i> {{lang.save}}</button>
                                    <a type="button" class="btn default" href="#/" data-dismiss="modal">{{lang.close}}</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>


</div>

