<div id="test"></div>

<div class="portlet">
    <div class="portlet-title">
        <div class="caption" ng-bind="lang.user_management">{{lang.dashboard}}</div>
        <div class="actions btn-set">
            <div ng-include="tools"></div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="tabbable tabbable-custom"ng-controller="UserController">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="" id="a_tab_users" ng-click='tabClick("tab_users", "tab_groups")' class="font-green-meadow" ng-bind="lang.users"> </a>
                </li>
                <li>
                    <a href="" id="a_tab_groups" ng-click='tabClick("tab_groups", "tab_users")' class="font-green-meadow" ng-bind="lang.group"> </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_users">
                    <table datatable dt-options="dtOptions_user" dt-columns="dtColumns_user"
                           class="table table-bordered dataTable no-footer" id="user">

                    </table>
                </div>
                <div class="tab-pane " id="tab_groups">

                    <table datatable dt-options="dtOptions_role" dt-columns="dtColumns_role"
                           class="table table-bordered dataTable no-footer" >

                    </table>
                </div>
            </div>
        </div>


    </div>
</div>