<div ng-include="mainTools"></div>
<div class='row'>
    <div class='col-md-12'>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">{{lang.create_static_page}}</div>
                <div class="actions btn-set">
                    <div ng-include="tools"></div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{lang.name}}</label>
                            <input type="text" class="form-control" ng-model="newStaticPage.title" name="title" id="title" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{lang.page_link}}</label>
                            <input type="text" class="form-control" ng-model="newStaticPage.url" name="url" id="url" value="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{lang.active}}</label>
                            <select class="form-control" name="status" ng-model="newStaticPage.status" ng-init="newNews.status='1'" id="status">
                                <option value="1">{{lang.publish}}</option>
                                <option value="0">{{lang.unpublish}}</option>
                                <option value="-1">{{lang.draft}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{lang.page_content}}</label>
                            <textarea ui-tinymce="tinymceOptions" ng-model="newStaticPage.post" id="post" name="post"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-click="save()" name="save" value="save"><i class="fa fa-save"></i> {{lang.save}}</button>
                            <button type="submit" class="btn btn-default" ng-click="reset()" name="reset" value="reset"><i class="fa fa-reset"></i> {{lang.reset}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
