<!-- BEGIN PAGE CONTENT-->


<div class="row profile">
<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">Test Link <b>{{updatedTestLink.name}}</b></div>
            <div class="actions btn-set">
                <div ng-include="tools_testcase"></div>
            </div>
        </div>
        <div class="portlet-body">
            <table datatable dt-options="dtOptions_testcase" dt-columns="dtColumns_testcase"
                   class="table table-bordered dataTable no-footer" id="user">

            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
</div>
<!-- END PAGE CONTENT-->