<!-- BEGIN PAGE CONTENT-->


<div class="row profile">
<div class="col-md-12">


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">Test Link Management</div>
            <div class="actions btn-set">
                <div ng-include="tools"></div>
            </div>
        </div>
        <div class="portlet-body">
            <table datatable dt-options="dtOptions_testlink" dt-columns="dtColumns_testlink"
                   class="table table-bordered dataTable no-footer" id="user">

            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
</div>
<!-- END PAGE CONTENT-->