<a class="btn btn-sm bg-green" href="#/"><i class='fa fa-list'>List Test Link</i></a>
<a class="btn btn-sm bg-green-meadow" ng-click="" href="#/add"><i class='fa fa-plus'>Add Test Link</i></a>
<!--<button class="btn btn-sm default" ng-click="selectedAll()"><i class='fa fa-check-square-o'></i> Selected all</button>
<button class="btn btn-sm default" ng-click="deselectedAll()" ng-show="arrCategoriesId.length"><i class='fa fa-square-o'></i> Deselected all</button>
<button class="btn btn-sm btn-danger" ng-click="deleteMultiCategories()" ng-show="arrCategoriesId.length"><i class='fa fa-trash-o'></i> Remove</button>
<a class="btn btn-sm default" href="#/download"><i class='fa fa-download'></i> Download</a>
<a class="btn btn-sm default" href="#/config"><i class='fa fa-cog'></i> Configuration</a> -->