<a class="btn btn-sm bg-green" href="#/"><i class='fa fa-list'>List Test Link</i></a>
<a class="btn btn-sm bg-green" href="#/testcase/getall/{{updatedTestLink.id}}"><i class='fa fa-list'>List Test Case</i></a>
<a class="btn btn-sm bg-green-meadow"  href="#/testcase/add/{{updatedTestLink.id}}"><i class='fa fa-plus'>Add Test Case</i></a>