<div class="portlet container-fluid">
    <div class="portlet-title">
        <div class="caption">Update Test Case</div>
        <div class="actions btn-set">
            <div ng-include="tools_testcase"></div>
        </div>
    </div>
    <div class="portlet-body">
        <!-- BEGIN FORM-->
        <form name="formAddTestCase"  class="form-horizontal" ng-init="getTestCase()" ng-submit="updateTestCase();">
            <div class="form-body">

                <!--Test Link-->
                <div class="form-group">
                    <label class="control-label col-md-3">ID</label>
                    <div class="col-md-4">
                       <p>{{updatedTestCase.id}}</p>
                    </div>
                </div>

                <!--Test case id-->
                <div class="form-group"  ng-class="((formAddTestCase.testcase_id.$dirty) && (formAddTestCase.testcase_id.$invalid))?'has-error':''">
                    <label class="col-md-3 control-label">Test Case ID<span class="required">* </span></label>
                    <!-- validate for test case id-->
                    <div class="col-md-4">
                        <input type="text" name="testcase_id" ng-model="updatedTestCase.testcase_id" class="form-control"
                               placeholder="Test Case ID" required>
                    </div>
                    <!-- end validate for test case id-->
                </div>

                <!--Action No-->
                <div class="form-group"  >
                    <label class="col-md-3 control-label">Action No<span class="required">* </span></label>

                    <div class="col-md-4">
                        <input type="number" name="action_no" ng-model="updatedTestCase.action_no" class="form-control"
                               placeholder="Action No" required>
                    </div>
                </div>

                <!--Name-->
                <div class="form-group"  ng-class="((formAddTestCase.name.$dirty) && (formAddTestCase.name.$invalid))?'has-error':''">
                    <label class="col-md-3 control-label">Name<span class="required">* </span></label>
                    <!-- validate for name-->
                    <div class="col-md-4">
                        <input type="text" name="name" ng-model="updatedTestCase.name" class="form-control"
                               placeholder="Name" required ng-minlength=5 ng-maxlength=50>
                    </div>
                    <!-- end validate for name-->
                </div>

                <!--value-->
                <div class="form-group">
                    <label class="col-md-3 control-label">Value<span class="required">* </span></label>
                    <div class="col-md-4">
                        <textarea id="value" ng-model="updatedTestCase.value" class="form-control" maxlength="1024" rows="2" placeholder="This textarea has a limit of 1024 chars."></textarea>
                    </div>
                </div>



            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" class="btn blue"   data-dismiss="modal" value="Update">
                    <input type="button" class="btn default" data-dismiss="modal" value="Cancel">
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>