<div class="portlet container-fluid">
    <div class="portlet-title">
        <div class="caption">Update Test Link</div>
        <div class="actions btn-set">
            <div ng-include="tools"></div>
        </div>
    </div>
    <div class="portlet-body">
        <!-- BEGIN FORM-->
        <form name="formUpdateTestLink"  class="form-horizontal" ng-init="getTestLink()" ng-submit="updateTestLink()">
            <div class="form-body">

                <!--ID-->
                <div class="form-group"  ng-class="((formAddTestLink.name.$dirty) && (formAddTestLink.name.$invalid))?'has-error':''">
                    <label class="col-md-3 control-label">ID<span class="required">* </span></label>
                    <!-- validate for name-->
                    <div class="col-md-4">
                        <p>{{updatedTestLink.id}}</p>
                    </div>
                    <!-- end validate for name-->
                </div>

                <!--Name-->
                <div class="form-group"  ng-class="((formAddTestLink.name.$dirty) && (formAddTestLink.name.$invalid))?'has-error':''">
                    <label class="col-md-3 control-label">Name<span class="required">* </span></label>
                    <p>{{updatedTestLink.name}}</p>
                </div>

                <!--Link-->
                <div class="form-group">
                    <label class="col-md-3 control-label">Link<span class="required">* </span></label>
                    <div class="col-md-4">
                            <input type="text" ng-model="updatedTestLink.link" name="link" class="form-control"
                                   placeholder="Link" required>
                    </div>
                </div>

                <!--Config-->
                <div class="form-group">
                    <label class="col-md-3 control-label">Configuration<span class="required">* </span></label>
                    <div class="col-md-4">
                            <textarea id="config" ng-model="updatedTestLink.config" class="form-control" maxlength="1024" rows="2" placeholder="This textarea has a limit of 1024 chars."></textarea>

                    </div>
                </div>

            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" class="btn blue"   data-dismiss="modal" value="Update">
                    <input type="button" class="btn default" data-dismiss="modal" value="Cancel">
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>